body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -moz-linear-gradient(left, rgba(130,110,222,1) 0%, rgba(105,72,213,1) 100%);
  background: -webkit-linear-gradient(left, rgba(130,110,222,1) 0%, rgba(105,72,213,1) 100%);
  background: -o-linear-gradient(left, rgba(130,110,222,1) 0%, rgba(105,72,213,1) 100%);
  background: -ms-linear-gradient(left, rgba(130,110,222,1) 0%, rgba(105,72,213,1) 100%);
  background: linear-gradient(to right, rgba(130,110,222,1) 0%, rgba(105,72,213,1) 100%);
}

.container {
  background-image: url("./profile__background.jpg");
  background-size: 100%;
  opacity: 0.8;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: rgba(130,110,222,1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.con {
  min-width: 45%;
  background: white;
  height: 100vh;
}

.msgList {
  overflow: scroll;
  overflow-x: hidden;
  height: 60%;
}

.userName {
  color: rgb(201, 195, 212);
}

.msg {
  border: 2px solid #dedede;
  background-color: rgba(130,110,222,1);
  border-radius: 10%;
  color: white;
  padding: 10px;
  margin: 10px 0;
  width: 30%;
}

.bColor {
  color: rgba(130,110,222,1);
}

.wColor {
  color: white;
}

.userMsg {
  word-wrap: break-word;
}

.msgList {
  word-wrap: break-word;
}

.group {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #5264AE;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}